<div class="containter">
    <div class="row">
        <div class="col-xs-12 text-center enter_section jumbotron">
            <form action="/scrape" method="GET">
            
            <button type="submit" class="btn btn-primary" id="text-enter-button"> Search for recipes</button>
            <p>I hope you enjoy this Mongo scraping handlebars app I made for my GF</p>
            </form>
        </div>
    </div>
</div>

{{!-- right here i would have a post button that would generate for each recipe that would allow for comments 
 --}}


{{#each recipe}}
<div class="story-body card container" id={{this._id}}>
    <div class="card-body">
        <h5 class="card-title">
            <a href="{{this.link}}" target="_blank">{{this.title}}</a>
        </h5>
        </form>

    </div>
</div>
{{/each}}

{{!-- im gonna psuedocode the comment section
{{#each comment 
For each recipe i would go through and post each comment}} --}}